{% extends 'base.html' %}

{% block main_content %}

<a href="{% url 'index' %}">Main Page</a>

<a href="{% url 'currency:bank-create' %}">Bank Create</a>

<table class="table table-dark table-striped">
    <caption>Bank</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
    </tr>

    {% for bank in object_list %}

        <tr>
            <td>{{ bank.id }}</td>
            <td>{{ bank.name }}</td>
            <td>{{ bank.url }}</td>
            <td><a href="{% url 'currency:bank-details' pk=bank.id %}">Details</a></td>
            <td><a href="{% url 'currency:bank-update' pk=bank.id %}">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock main_content %}