{% extends 'base.html' %}

{% block main_content %}
<a href="{% url 'index' %}">Main Page</a>

<a href="{% url 'currency:rate-create' %}">Rate Create</a>

<table class="table table-striped">
    <tbody>

    <caption>Rate</caption>

    {% for rate in object_list %}
    <tr>
        <td>ID: {{ rate.id }}</td>
        <td>Buy: {{ rate.buy }}</td>
        <td>Sale: {{ rate.sale }}</td>
        <td><a href="{% url 'currency:rate-details' pk=rate.id %}">Details</a></td>
        <td><a href="{% url 'currency:rate-update' pk=rate.id %}">Edit</a></td>
    </tr>
    {% endfor %}

    </tbody>

</table>
{% endblock main_content %}
