{% extends 'base.html' %}

{% load pagination %}

{% block main_content %}
    <a href="{% url 'index' %}">Home</a>

    <a href="{% url 'currency:rate-create' %}">Rate Create</a>

    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Apply Filters
        </button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Type</th>
            <th scope="col">Sale</th>
            <th scope="col">Buy</th>
            <th scope="col">Bank Name</th>
            <th scope="col">Created</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ rate.id }}</td>
            <td>{{ rate.get_type_display }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sale }}</td>
            <td>{{ rate.bank.name }}</td>
            <td>{{ rate.created }}</td>
            {% if request.user.is_authenticated %}
                <td><a href="{% url 'currency:rate-details' pk=rate.id %}">Details</a></td>
            {% endif %}
            {% if request.user.is_superuser %}
                <td><a href="{% url 'currency:rate-update' pk=rate.id %}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
      {% pagination page_obj %}
    {% endif %}
{% endblock main_content %}
